<!--フラッシュ-->
<div>
  <%= flash[:notice] %>
</div>


<!--Bootstrap-->
<div class="container"> 
  <div class="row"> 
  
  
<!--共通部分-->
<%= render 'books/info', book: @book %>


<!-- ユーザーの投稿一覧 -->
<div class="col-md-1" style="background-color: pink;">
</div>
<div class="col-md-8" style="background-color: orange;">
<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= link_to book.title,book %>
  <%= book.body %>
</div>
<% end %>
</div>

  </div> 
</div> 