<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<!--バリデーション-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!-- ユーザーの詳細 -->
<!-- ユーザーの詳細 -->
<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name  <%= @user.name %></h3>
  <h3>introduction  <%= @user.introduction %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path(@user)%></p>
</div>
<!-- 投稿機能 -->
<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, value: nil %>
  <h4>Opinion</h4>
  <%= f.text_area :body, value: nil %>
  <%= f.submit 'Create Book' %>
<% end %>

<!--投稿一覧-->
<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= link_to book.title,book %>
  <%= book.body %>
</div>
<% end %>
