<!--フラッシュ-->
<div>
  <%= flash[:notice] %>
</div>
<!--バリデーション-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--Bootstrap-->
<div class="container"> 
  <div class="row"> 
  
<!--共通部分-->
<%= render 'info', book: @new_book %>

<!-- 投稿したBOOKS -->
<div class="col-md-1" style="background-color: pink;">
</div>
<div class="col-md-8" style="background-color: orange;">
  
<h1>Books</h1>

<div>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <%= @book.user.name %>
  <%= @book.title %>
  <%= @book.body %>
</div>

<% if @book.user == current_user %>
<%= link_to "編集", edit_book_path(@book.id) %>
<%= link_to "削除", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</div>

  </div> 
</div> 